<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/gamestyle.css">
</head>
<body>
    <div class="backbutton">
        <a href="gamepage.html">Back</a>
    </div>
    <div class="game-card">
        <div class="game-header">
            <h3>F1 Driver Test</h3>
            <p>Click the panel below to prime the engine. When it turns solid green, click as fast as humanly possible!</p>
        </div>
        <div id="reaction-pad" class="pad-idle">Click to Start</div>
        
        <div class="game-stats-row">
            <span id="reaction-current">Current: --</span>
            <span id="reaction-best">Personal Record: --</span>
        </div>
    </div>
    <script src="../script/games.js"></script>
</body>
</html>