<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Permission Details</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body style="margin: 50px;">
    <h3 style="text-shadow: 0 0 8px rgba(138, 180, 248, 0.6), 0 0 16px rgba(138, 180, 248, 0.4), 0 0 24px rgba(138, 180, 248, 0.2);;">Permission Details</h3>
    <p>There is no need of panicking this permission is only required for storing data in your device. The Data doesn't contains any harmful virus or malware. It is just used to enhance user experience and add view counts to my website.</p>
    <p>No personal Data is needed !!</p>
    <div id="character-stage" class="random-character-stage"></div>
</body>
</html>